workflows/mojweb/review-aggregator.json
{
  "name": "Review Aggregator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-aggregator",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 200],
      "webhookId": "review-aggregator"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_source",
              "value": "webhook"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-webhook",
      "name": "Mark Webhook Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "trigger_source",
              "value": "schedule"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-schedule",
      "name": "Mark Schedule Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 400]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ $env.MOJWEB_API_URL }}/api/businesses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "has_review_sources",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "fetch-businesses",
      "name": "Fetch All Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mojweb-api",
          "name": "MojWeb API"
        }
      }
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "input2"
      },
      "id": "merge-triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-businesses",
      "name": "Loop: Process Each Business",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.google_place_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-google",
      "name": "Has Google Place ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "place_id",
                "value": "={{ $json.google_place_id }}"
              },
              {
                "name": "fields",
                "value": "reviews"
              }
            ]
          }
        }
      },
      "id": "fetch-google-reviews",
      "name": "Fetch Google Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 100],
      "credentials": {
        "httpQueryAuth": {
          "id": "google-places-api",
          "name": "Google Places API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reviews = $input.first().json.result?.reviews || [];\nconst businessId = $('Loop: Process Each Business').first().json.business_id;\n\nreturn reviews.map((review, index) => ({\n  json: {\n    id: `google_${review.time}_${index}`,\n    source: 'google',\n    author_name: review.author_name,\n    rating: review.rating,\n    text: review.text,\n    date: new Date(review.time * 1000).toISOString().split('T')[0],\n    language: review.language || 'en',\n    business_id: businessId\n  }\n}));"
      },
      "id": "normalize-google",
      "name": "Normalize Google Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.booking_url }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-booking",
      "name": "Has Booking URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.apify.com/v2/acts/voyager~booking-scraper/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "startUrls",
              "value": "={{ [{ url: $json.booking_url }] }}"
            },
            {
              "name": "includeReviews",
              "value": "={{ true }}"
            },
            {
              "name": "maxReviews",
              "value": "={{ $json.max_reviews || 20 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "start-apify",
      "name": "Start Apify Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apify-api",
          "name": "Apify API"
        }
      }
    },
    {
      "parameters": {
        "time": 30,
        "unit": "seconds"
      },
      "id": "wait-apify",
      "name": "Wait for Apify",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1650, 350]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{ 'https://api.apify.com/v2/acts/voyager~booking-scraper/runs/' + $json.data.id + '/dataset/items' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-apify-results",
      "name": "Fetch Apify Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1850, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apify-api",
          "name": "Apify API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json;\nconst reviews = results[0]?.reviews || [];\nconst businessId = $('Loop: Process Each Business').first().json.business_id;\n\nreturn reviews.map((review, index) => ({\n  json: {\n    id: `booking_${new Date(review.date).getTime()}_${index}`,\n    source: 'booking',\n    author_name: review.reviewer?.name || 'Anonymous',\n    rating: review.score / 2,\n    text: review.text || review.positive || '',\n    date: review.date,\n    language: review.language || 'en',\n    business_id: businessId\n  }\n}));"
      },
      "id": "normalize-booking",
      "name": "Normalize Booking Reviews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 350]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-reviews",
      "name": "Merge Reviews",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {}
      },
      "id": "deduplicate",
      "name": "Deduplicate Reviews",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "operation": "sort",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "sort-reviews",
      "name": "Sort by Date",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": "={{ $('Loop: Process Each Business').first().json.max_reviews || 20 }}"
      },
      "id": "limit-reviews",
      "name": "Limit Reviews",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [2850, 200]
    },
    {
      "parameters": {
        "jsCode": "const reviews = $input.all().map(item => item.json);\nconst businessId = $('Loop: Process Each Business').first().json.business_id;\n\nconst googleCount = reviews.filter(r => r.source === 'google').length;\nconst bookingCount = reviews.filter(r => r.source === 'booking').length;\n\nreturn [{\n  json: {\n    business_id: businessId,\n    reviews: reviews,\n    summary: {\n      total: reviews.length,\n      google: googleCount,\n      booking: bookingCount\n    }\n  }\n}];"
      },
      "id": "prepare-payload",
      "name": "Prepare Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3050, 200]
    },
    {
      "parameters": {
        "requestMethod": "PATCH",
        "url": "={{ $env.MOJWEB_API_URL }}/api/websites/{{ $json.business_id }}/reviews",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reviews: $json.reviews }) }}",
        "options": {}
      },
      "id": "update-website",
      "name": "Update Website Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mojweb-api",
          "name": "MojWeb API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "synced"
            },
            {
              "name": "synced_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ],
          "number": [
            {
              "name": "reviews_synced",
              "value": "={{ $('Prepare Update Payload').first().json.summary.total }}"
            },
            {
              "name": "google_count",
              "value": "={{ $('Prepare Update Payload').first().json.summary.google }}"
            },
            {
              "name": "booking_count",
              "value": "={{ $('Prepare Update Payload').first().json.summary.booking }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-results",
      "name": "Log Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [3450, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst totalGoogle = items.reduce((sum, item) => sum + (item.json.google_count || 0), 0);\nconst totalBooking = items.reduce((sum, item) => sum + (item.json.booking_count || 0), 0);\n\nreturn [{\n  json: {\n    success: true,\n    business_id: items[0]?.json.business_id || null,\n    reviews_synced: totalGoogle + totalBooking,\n    sources: {\n      google: totalGoogle,\n      booking: totalBooking\n    }\n  }\n}];"
      },
      "id": "return-response",
      "name": "Return Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3650, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "skipped"
            },
            {
              "name": "reason",
              "value": "no_google_place_id"
            }
          ]
        },
        "options": {}
      },
      "id": "skip-google",
      "name": "Skip Google",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "skipped"
            },
            {
              "name": "reason",
              "value": "no_booking_url"
            }
          ]
        },
        "options": {}
      },
      "id": "skip-booking",
      "name": "Skip Booking",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1450, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Mark Webhook Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Mark Schedule Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Webhook Source": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Schedule Source": {
      "main": [
        [
          {
            "node": "Fetch All Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Businesses": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Loop: Process Each Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Process Each Business": {
      "main": [
        [
          {
            "node": "Has Google Place ID?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Booking URL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Google Place ID?": {
      "main": [
        [
          {
            "node": "Fetch Google Reviews",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Reviews": {
      "main": [
        [
          {
            "node": "Normalize Google Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Google Reviews": {
      "main": [
        [
          {
            "node": "Merge Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Google": {
      "main": [
        [
          {
            "node": "Merge Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Booking URL?": {
      "main": [
        [
          {
            "node": "Start Apify Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Scraper": {
      "main": [
        [
          {
            "node": "Wait for Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Apify": {
      "main": [
        [
          {
            "node": "Fetch Apify Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify Results": {
      "main": [
        [
          {
            "node": "Normalize Booking Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Booking Reviews": {
      "main": [
        [
          {
            "node": "Merge Reviews",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Skip Booking": {
      "main": [
        [
          {
            "node": "Merge Reviews",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Reviews": {
      "main": [
        [
          {
            "node": "Deduplicate Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Reviews": {
      "main": [
        [
          {
            "node": "Sort by Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date": {
      "main": [
        [
          {
            "node": "Limit Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Reviews": {
      "main": [
        [
          {
            "node": "Prepare Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Payload": {
      "main": [
        [
          {
            "node": "Update Website Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Website Reviews": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Results": {
      "main": [
        [
          {
            "node": "Loop: Process Each Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Syncs reviews from Google Places and Booking.com to MojWeb websites. Can be triggered via webhook or runs daily at 6:00 AM."
  }
}
